.sidebar {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 50px;
  background: #fff;
  padding: 0px 50px;
  border-radius: 40px;
  align-items: center;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link:hover {
  background: #0b23f4;
}

/* Séparateur vertical */
.separator {
  width: 1px;
  height: 20px;
  background-color: #0b23f4;
  border-radius: 2px;
  margin: 10px 0 10px 5px;
}

/* Déconnexion */
.logout {
  background: transparent;
  border: none;
  color: #0b23f4;
  text-align: left;
  padding: 10px;
  cursor: pointer;
  font-size: 14px;
}