body {
  background-color: #f2f3ff;
  margin: auto; 
  min-width: 1024px;
  min-height: 768px;
  max-width: 1440px;
  font-family: 'Arial', sans-serif;
}

.container {
background: #f2f3ff;
max-height: max-content;
}

.main {
  margin: auto;
  display: flex;
  gap: 20px;
  padding: 20px;
}

.left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 2 colonnes */
  gap: 20px;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
}

.photo {
  width: 100%;
  max-width: 150px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.statCard {
  background: #0b23f4;
  border-radius: 15px;
  padding: 20px;
  color: white;
  text-align: center;
}
